@media screen and (max-width:576px) {
    .link-1, .titlee, .icon-01, .last-1, .price{
        visibility: hidden;
        display: none;
    }
    .texts{
        margin-top: 0;
        position: relative;
        top: 80px;
    }
     .footer, .pawsome, .persian{
        flex-direction: column;
    }
}

@media screen and (min-width:1024px) and (max-width:1440px) {
    .texts{
        margin-top: 0;
        position: relative;
        bottom: 50px;
    }
    
}
@keyframes pink-pong {
    from{
        left: 0;
    }

    to{
        left:calc(100% - 50px);
    }
}

.stage{
    border-radius: 16px;
}

.ball{ 
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: rgb(253, 190, 200);
    position: relative;
    animation: pink-pong 3s ease-in-out 1s infinite alternate;
}
