@media screen and (max-width:576px) {
    .link-1, .titlee, .icon-01, .last-1{
        visibility: hidden;
        display: none;
    }
    .texts{
        margin-top: 0;
        position: relative;
        top: 80px;
    }
    .box-0, .footer{
        flex-direction: column;
    }
    .for, .pet{
        width: 100%;
    }
}

@media screen and (min-width:1024px) and (max-width:1440px) {
    .texts{
        margin-top: 0;
        position: relative;
        bottom: 50px;
    }
    
}
