@media screen and (max-width:576px) {
    .link-1, .titlee, .icon-01, .pet-bed{
        visibility: hidden;
        display: none;
    }
    .texts{
        margin-top: 0;
        position: relative;
        top: 80px;
    }
    .box-0{
        flex-direction: column;
    }
    .for, .pet{
        width: 100%;
    }
    .Dog{
        position: relative;
        left:100px;
        bottom: 130px;
    }
}


@media screen and (min-width:1024px) and (max-width:1440px) {
    .texts{
        margin-top: 0;
        position: relative;
        bottom: 50px;
    }
    .Dog{
        position: relative;
        left:120px;
        bottom: 100px;
    }
    
}
@media screen and (min-width: 1441px) and (max-width: 2560px){
   .Dog{
    position: relative;
    left: 200px;
    bottom: 130px;
   }
}
